code[class*="language-"],
pre[class*="language-"] {
    color: var(--blue-white); /* fg1 / fg */
    font-family: "jetBrains-mono";
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: var(--code-line-height);
    font-size: var(--code-font-size);
    margin: 0;
    padding: 0;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
 
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    color: var(--fg0); /* fg0 */
    background: #7c6f64; /* bg4 */
}
 
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    color: var(--fg0); /* fg0 */
    background: #7c6f64; /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
    overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
}


.token.namespace,
.token.class-name {
    color: var(--yellow)
}

.token.operator,
.token.namespace .token.punctuation {
    color: var(--aqua)
}

.token.comment,
.token.prolog,
.token.cdata {
    color: #a89984; /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
    color: #fb4934; /* red2 */
}

.token.punctuation,
.token.attr-name {
    color: #a89984; /* fg4 / gray1 */
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
    color: #fabd2f; /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
    color: #d3869b; /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
    color: #fb4934; /* red2 */
}

.token.string,
.token.char {
    color: #b8bb26; /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
    color: #a89984; /* fg4 / gray1 */
}

.token.url {
    color: var(--green);
    text-decoration: underline;
}

.token.function {
    color: var(--aqua);
}

.token.regex {
    background: var(--green);
}

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.inserted {
    background: #a89984; /* fg4 / gray1 */
}

.token.deleted {
    background: #fb4934; /* red2 */
}